<%= the_first_link = 'https://checkr.com/' %>
<%= the_secon_link = 'https://flynn.io/' %>
<%= the_third_link = 'https://spark.adobe.com/about/video' %>



<header>
  <div class="header_first">
    <div class="header_first_one">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="header_first_two">
      <p></p>
    </div>

    <div class="header_first_three">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="header_first_four">
      <ul>
        <li></li>
        <li></li>
      </ul>
    </div>

  </div>
</header>


<article class="main">
  <section class="section_1">
      <h3>the title</h3>
      <div class="div_1">
      </div>
  </section>

  <section class="section_2">
      <h3>the title</h3>
      <div class="div_2">

      </div>
  </section>

  <section class="section_3">
    <h3>the title</h3>
    <div class="div_3">

    </div>
  </section>

  <section class="section_4">
    <h3>the title</h3>
    <div class="div_4">

    </div>
  </section>


  <section class="section_5">
    <h3>the title</h3>
    <div class="div_5">

    </div>
  </section>


  <section class="section_6">
    <h3>the title</h3>
    <div class="div_6">
      <div class="div_6_1">

      </div>
      <div class="div_6_2">

      </div>
    </div>

  </section>

  <section class="section_7">
    <div class="div_71">

    </div>
    <div class="div_72">

    </div>
    <div class="div_73">

    </div>
  </section>
</article>





<table>

  <thead>
    <tr>
      <th>Email</th>
      <th>Phone</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'The real form', the_first_link%></td>
        <td><%= link_to 'The real form', the_secon_link%>></td>
        <td><%= link_to 'The real form', the_third_link%></td>
        <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  </tbody>

</table>
